In [29]:
import pandas as pd

In [30]:
data={"name": ["a","b","a","c","d","a"], "eng":[8,7,8,6,7,3], "urdu":[1,2,1,1,3,5]}

In [31]:
df=pd.DataFrame(data)

In [32]:
df

  name  eng  urdu
0    a    8     1
1    b    7     2
2    a    8     1
3    c    6     1
4    d    7     3
5    a    3     5

In [33]:
df.duplicated()

0    False
1    False
2     True
3    False
4    False
5    False
dtype: bool

In [34]:
df.drop_duplicates(inplace=True)

In [35]:
df

  name  eng  urdu
0    a    8     1
1    b    7     2
3    c    6     1
4    d    7     3
5    a    3     5

In [36]:
dataset = pd.read_excel("D:\Study\Machine Learning\FeatureScaling\dataset1.xlsx")

In [37]:
dataset.duplicated()

0      False
1      False
2      False
3      False
4       True
       ...
485     True
486     True
487     True
488     True
489     True
Length: 490, dtype: bool

In [38]:
dataset["duplicates"]=dataset.duplicated()

In [39]:
dataset

     type Urgency severity  priority  duplicates
0    Task     low    minor       4.0       False
1    Task     NaN    minor       4.0       False
2    Task     low    minor       NaN       False
3    Task     low      NaN       4.0       False
4    Task     NaN    minor       4.0        True
..    ...     ...      ...       ...         ...
485  Task     low    minor       4.0        True
486  Task     low    minor       4.0        True
487   Bug     low    minor       4.0        True
488   Bug     low    minor       4.0        True
489  Task     low    minor       4.0        True

[490 rows x 5 columns]

In [40]:
dataset.drop_duplicates(inplace=True)
dataset["duplicates"]=dataset.duplicated()

In [41]:
dataset

           type Urgency severity  priority  duplicates
0          Task     low    minor       4.0       False
1          Task     NaN    minor       4.0       False
2          Task     low    minor       NaN       False
3          Task     low      NaN       4.0       False
4          Task     NaN    minor       4.0       False
5          Task     low    minor       4.0       False
7          Task     low    minor       NaN       False
11         Task     low      NaN       4.0       False
31         Task  medium    minor       4.0       False
49         Task  medium    minor       4.0       False
53          Bug     low    minor       4.0       False
54          Bug     low    minor       4.0       False
55          Bug  medium    minor       4.0       False
57          Bug    high    minor       4.0       False
65          Bug    high    minor       4.0       False
67          Bug     low    minor       1.0       False
74         Task    high    minor       4.0       False
75          Bug  medium    minor       4.0       False
88          Bug     low    minor       1.0       False
126        Task  medium    minor       NaN       False
134        Task     low    minor       1.0       False
142        Task     low    minor     102.0       False
151        Task     low    minor     100.0       False
154         Bug    high    minor       1.0       False
160         Bug    high    minor       1.0       False
178   Milestone     low    minor       1.0       False
179   Milestone     low    minor       1.0       False
180        Task     low    minor       1.0       False
182  User story     low    minor       1.0       False
224        Task    high    minor       4.0       False
241       Phase     low    minor       4.0       False
302         Bug     low    minor     200.0       False
303         Bug     low    minor     542.0       False
304         Bug     low    minor   87555.0       False
305         Bug     low    minor    2345.0       False
306        Task     low    minor   12828.0       False
307         Bug     low    minor   12828.0       False
308        Task     low    minor   12828.0       False
318        Task     low    minor   64331.0       False
319        Task     low    minor   64331.0       False
328         Bug     low    minor   64331.0       False
329         Bug     low    minor   64331.0       False
424         Bug     low    minor     234.0       False
425         Bug     low    minor     234.0       False
426        Task     low    minor     234.0       False
429        Task     low    minor     234.0       False